<%- include("partials/header") %>

<div class="ui main text container segment">
	<div class="ui huge header"><%= blog.title %></div>
	
	<div class="ui top attached">
		<div class="item">
			<img class="ui image centered rounded" src="<%= blog.image %>" width=400px>
			<div class="content">
				<div class="extra">
					<span><%= blog.create.toDateString() %></span>
				</div>
				<div class="description">
					<p><%- blog.body %></p>
				</div>
			</div>
			<a href="/blogs/<%= blog.id %>/edit" class="ui orange basic button">Edit</a>
			<form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
				<button class="ui red basic button">
					Delete
				</button>
			</form>
			<a href="/blogs/" class="ui basic button right floated">Back</a>
		</div>
	</div>
</div>

<%- include("partials/footer") %>